@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 75px 20px 45px;
}
.logo{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
}
.collab{
    cursor: pointer;
}